@model IEnumerable<a1OEC.Models.Variety>

@{
    ViewData["Title"] = "Varieties of " + ViewBag.Name;
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Crop)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Index" asp-controller="ADPlot" asp-route-searchCriteria="v" asp-route-varId="@item.VarietyId" asp-route-varName="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Crop.CropId)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.VarietyId" asp-route-name="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VarietyId" asp-route-name="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VarietyId" asp-route-name="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
