@model IEnumerable<a1OEC.Models.Crop>

@{
    ViewData["Title"] = "Crop Listing";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Index" asp-controller="ADVariety" asp-route-cropId="@item.CropId"asp-route-name="@item.Name">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CropId" asp-route-name="@item.Name">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CropId" asp-route-name="@item.Name">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CropId" asp-route-name="@item.Name">Delete</a> |
                <a asp-action="Index" asp-controller="ADPlot" asp-route-searchCriteria="c" asp-route-name="@item.Name" asp-route-cropId="@item.CropId">Show Plots</a>
            </td>
        </tr>
}
    </tbody>
</table>
