@model IEnumerable<a1OEC.Models.TreatmentFertilizer>

@{
    ViewData["Title"] = "Fertilizer Listing for " + ViewBag.Name + " Treatment";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" asp-route-name="@ViewBag.Name" asp-route-treatmentId="@ViewBag.TreatmentId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RatePerAcre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RateMetric)
                </th>
            <th>
                Fertilizer Name
                @*@Html.DisplayNameFor(model => model.FertilizerNameNavigation)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RatePerAcre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RateMetric)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FertilizerNameNavigation.FertilizerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment.TreatmentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TreatmentFertilizerId" asp-route-name="@item.FertilizerNameNavigation.FertilizerName">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TreatmentFertilizerId" asp-route-name="@item.FertilizerNameNavigation.FertilizerName">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TreatmentFertilizerId" asp-route-name="@item.FertilizerNameNavigation.FertilizerName">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <!--add hyperlink to the bottom of the index listing returnin to the treatment controllers index-->
<div>
    <a asp-controller="ADTreatment" asp-action="Index">Back to Treatment Listing</a>
</div>
